<div class="slidecontainer" class="card">
  <div class="button-row">
    <button (click)="toggleFilters()" class="secondary">Options</button>
    <button (click)="createPlaylist()" class="principal" [disabled]="!loadCompleted">
      <span *ngIf="!loadCompleted">Searching... {{counter}}</span>
      <span *ngIf="loadCompleted">Confirm</span>
    </button>
  </div>
  <div class="filter-container">
    <div *ngIf="filtersVisible" class="filters">
      <div class="filter">
        <input type="checkbox" id="filter-sort" [(ngModel)]="sortDescending" (change)="toggleSort()">
        <label for="filter-sort">Newest first</label>
      </div>
      <div *ngFor="let filter of filters" class="filter">
        <input type="checkbox" [id]="'filter-'+filter.id" [(ngModel)]="filter.selected" (change)="restartSelection()">
        <label [attr.for]="'filter-'+filter.id">{{filter.description}}</label>
      </div>
    </div>
  </div>
  <div *ngFor="let album of albums" class="album">
    <div class="header">
      <img [src]="album.images[0]?.url" class="image" [alt]="album.name + ' cover'" />
      <div class="data">
        <h3>
          <input type="checkbox" [indeterminate]="album.selected === 'SOME'" [ngModel]="album.selected === 'ALL'"
            (ngModelChange)="checkAlbum(album)">
          {{album.name}}
        </h3>
        <span>{{album.releaseDate | slice: 0:4}} - </span>
        <span class="artist-names">
          <span class="artist" *ngFor="let artist of album.artists">{{artist.name}}</span>
        </span>
      </div>
    </div>
    <div class="songs">
      <div *ngFor="let song of album.songs" class="song">
        <input type="checkbox" [id]="'select-'+song.id" [(ngModel)]="song.selected">
        <span class="title" [attr.for]="'select-'+song.id">{{song.name}} </span>
        <span class="artist-names" *ngIf="song.featArtists.length>0">
          feat. <span class="artist" *ngFor="let artist of song.featArtists">{{artist.name}}</span>
        </span>
        <span class="reason" *ngIf="song.reasonForNotSelect"> - {{song.reasonForNotSelect}}</span>
      </div>
    </div>
  </div>
  <button (click)="createPlaylist()" class="principal" *ngIf="loadCompleted">
    <span>Confirm</span>
  </button>
</div>
<div>

  <app-errors [errors]="errors" (retry)="retry()">
  </app-errors>