<h2>
Contact Me
</h2>
<p>
Thank you for using our music playlist generator! If you have any questions, comments, or feedback, please don't hesitate to reach out to me. You can contact me using the following methods:
</p>
<h3>
Developer Data:
</h3>
<div class="links">
 <a href="https://jonartola.com/"><button class="principal">Jon Artola</button></a>
 <a href="https://github.com/artolajon"><button class="secondary">Github</button></a>
 <a href="https://es.linkedin.com/in/jon-artola"><button class="secondary">LinkedIn</button></a>
 <a href="https://twitter.com/JonnArtola"><button class="secondary">Twitter</button></a>
</div>
<p>
Thanks again for using our app!
</p>
