<h2>
  About
  </h2>
<p>
  Welcome to our playlist generator! We're a team of music-loving developers who created this app to help
  fans who just want to hear studio songs, with no remix, no live versions or any alternative version.
</p>
<p>
  Our app allows you to enter the name of the artist you like, setting a custom filter and it will generate a playlist
  with all their songs. Our database of music is carefully curated, ensuring that we can generate the most comprehensive
  and up-to-date playlists for you.
</p>
<p>
  We're dedicated to making our app as user-friendly and accessible as possible. If you have any feedback or
  suggestions, please don't hesitate to reach out to us. We hope you enjoy using our app!
</p>
