<h2>Privacy Policy</h2>

<p>At CleanPlaylist, we respect your privacy and understand the importance of protecting your personal information. We do not
  collect any user data when you use our web app. We only get temporary access to your Spotify account through its API
  to create a private playlist inside your playlists.
</p>
<h3>Third-Party Services</h3>

<p>We use the Spotify API to provide our web app services. When you use our web app, you may be subject to Spotify's
  terms of use and privacy policy. We encourage you to review their policies carefully.
</p>
<h3>Cookies</h3>

<p>We do not use cookies or any other tracking technologies on our web app.</p>

<h3>Changes to Our Privacy Policy</h3>

<p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy
  Policy on this page. You are advised to review this Privacy Policy periodically for any changes.
</p>
<h3>Contact Us</h3>

<p>If you have any questions about our Privacy Policy or how we handle your personal information, please contact us at
  contact@jonartola.com.
</p>
