h1{
  cursor: pointer;
  user-select: none;
}
.secondary-text{
  color: #c17618;
}
.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto!important;
  margin: 1rem;
}


ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 1.5rem;

  li {
    padding: 0 20px;
    opacity: 0.8;
    cursor: pointer;
    user-select: none;

    &:hover {
      opacity: 1;
    }
  }
}
