.blacklist-container h2 {
  margin-bottom: 1rem;
}

.blacklist-container form {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;

  input {
    text-align: left;
    padding-left: 1rem;
  }
}

.blacklist-container ul {
  list-style: none;
  padding: 0;
}

.blacklist-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;

  border-bottom: 1px solid rgba(255, 255, 255, 0.17);
  padding-bottom: 0.5rem;

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
}


.button-row {
  justify-content: space-between;
}