<div class="blacklist-container card">
  <h2>Customize Blacklist</h2>
  <form (submit)="addItem(); $event.preventDefault();">
    <input [(ngModel)]="newItem" name="blacklistItem" placeholder="Add item to blacklist" required />
    <button type="submit" class="secondary">Add</button>
  </form>
  <ul>
    <li *ngFor="let item of blacklist; let i = index">
      {{ item }}
      <button (click)="removeItem(i)" class="delete">X</button>
    </li>
  </ul>
  <div class="button-row">
    <button (click)="resetBlacklist()" class="secondary">Reset</button>
    <button (click)="saveBlacklist()" class="principal" [disabled]="isSaved">
      <span *ngIf="!isSaved">Save</span>
      <span *ngIf="isSaved">Saved!</span>
    </button>
  </div>
</div>